.dashboard_wrapper{
    width: 100%;
    height: 100%;
}

/* Warehouse Tabs */
.dashboard_wrapper .dashboard_tabs .tab_header {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dashboard_tabs .tab_header .tab_item {
    position: relative;
    padding: 0px 20px;
    height: 60px;
    line-height: 50px;
    z-index: 2;
    cursor: pointer;
    color: #222;
    font-weight: 600;
    background: #D9D9D9;
    margin-right: 15px;
}

.dashboard_tabs .tab_header .tab_item::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 25px;
    height: 5px;
    background: #888;
    border-radius: 10px;
}

.dashboard_tabs .tab_header .tab_item.active {
    color: black;
    background: #D38484;
}

.dashboard_tabs .tab_header .tab_item.active::before {
    background: black;
}


/* Warehouse Items (Table) */
.dashboard_table,
.product_table,
.inboundOrder_table {
    height: fit-content;
    max-height: 70vh;

    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.dashboard_table table,
.product_table table,
.inboundOrder_table table {
    width: 100%;
    table-layout: fixed;
    min-width: 1500px;
}

.dashboard_wrapper thead th,
.product_table thead th,
.inboundOrder_table thead th {
    position: sticky;
    top: 0;
    background-color: #B64F4F;
    color: #fff;
    font-size: 15px;
}

.dashboard_wrapper th,
.dashboard_wrapper td,
.product_table th,
.product_table td,
.inboundOrder_table th,
.inboundOrder_table td {
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}   


.dashboard_table table th:nth-last-child(1),
.dashboard_table table td:nth-last-child(1),
.product_table table th:nth-last-child(1),
.product_table table td:nth-last-child(1),
.inboundOrder_table table th:nth-last-child(1),
.inboundOrder_table table td:nth-last-child(1) {
    position: sticky;
    right: 0;
    width: 175px;
    min-width: 175px;
}

.dashboard_table table th:nth-last-child(2),
.dashboard_table table td:nth-last-child(2),
.inboundOrder_table table th:nth-last-child(2),
.inboundOrder_table table td:nth-last-child(2) {
    position: sticky;
    right: 175px;
    width: 175px;
    min-width: 175px;
}

.dashboard_table table th:nth-last-child(1),
.dashboard_table table th:nth-last-child(2),
.inboundOrder_table table th:nth-last-child(1),
.inboundOrder_table table th:nth-last-child(2),
.product_table table th:nth-last-child(1) {
    z-index: 2;
} 

.dashboard_wrapper td img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #ced0d2;
}