/* Import from CSS File */
@import url("./components/NavBar.css");
@import url("./components/LoginRegister.css");
@import url("./components/SellerDashboard/SellerDashboard.css");
@import url("./components/SellerDashboard/NavBar.css");
@import url("./components/PopUp/PopUp.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
  
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins'
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

:root {
    /* ========== Colors ========== */
    --primary-color: #fff;

    /* ========== Width ========== */
    --verticalNavBarWidth: 90px;
}

ul {
    list-style: none;
}
a {
    text-decoration: none !important;
    color: black;
}