.login_wrapper {
    height: 100vh;
}

.register_wrapper {
    height: 100vh;
}

/* Login Components */
.login_wrapper .login_container .login_inner_container,
.register_wrapper .register_container .register_inner_container {
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login_inner_container form .form-floating input,
.register_inner_container form .form-floating input {
    outline: 0;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.login_inner_container form .form-floating input:focus,
.register_inner_container form .form-floating input:focus {
    outline: none;
    box-shadow: none;
}

.login_inner_container form .form-floating label,
.register_inner_container form .form-floating label {
    font-size: .9rem;
    font-weight: bold;
}